@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(../src/images/background.jpg); */
  /* background-repeat: no-repeat;
  background-size: cover;*/
  background-color: black;
  padding-bottom: 5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* navbar */

.home{
  align-items: center;
}

.sticky {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 3;
  width: 100%;
}
.navbar button {
  width: 100%;
  background: none;
  background-color: transparent;
  border: 2px solid #674cff;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 0px;
}

/* drop-down */
.dropdown-menu.show {
  display: block;
  width: 100%;
}

/* background vedio */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.carousel-caption img {
  height: 50vh;
  width: 100%;
}

.bgimage {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 100%;
  font-size: 2em;
}

.bgimage::before {
  content: "";
  position: absolute;
  background: url('https://img.freepik.com/free-vector/dark-low-poly-background_1048-7971.jpg?size=626&ext=jpg') no-repeat center center/cover;
  opacity: 0.6;
  height: 35vh;
  width: 100%;
  z-index: -1;
}

/* carasoul */

.carousel {
  margin-top: 2rem;
}

.w-100 {
  height: 50vh;
}

.carousel-inner img {
  width: 100vw;
  height: 25rem;
  object-fit: cover;
}

/* cards */

.cards-crds {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.home-card-img {
  width: 15rem;
  height: 10rem;
}

.card-crds {
  margin: 2rem;
  width: 15rem;
  background-color: black;
  color: #ffffff;
  transition: transform 0.2s ease;
  border-radius: 20px;
  border:1px solid rgb(34, 34, 34);
}

.card-crds:hover {
  transform: scale(1.2);
  box-shadow: #674cff 2px 2px 5px;
}
.cards-crds a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  border: none;
}

.cards-crds img {
  height: 10rem;
  width: 15rem;
  object-fit: cover;
}

/* Footer */



.footer {
  color: white;
}

.footer a {
  color: white;
  text-decoration: none;
  margin:10px ;
}

.icons i {
  width: 3rem;
}

/* Resources */

.cards-resource {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards-resource a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.card-resource {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  margin: 1rem;
  padding: 1rem;
 
}

.resource{
  background-color: black;
  color: #ffffff;
  transition: transform 0.2s ease;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border:1px solid rgb(34, 34, 34);
  border-radius: 5px;
}

.resource:hover {
  transform: scale(1.001);
  box-shadow: #bafbba 2px 2px 5px;
}

/* sign up */

.signup-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* padding-top: 16vh;
  padding-bottom: 16vh; */
  color: white;
}

.login-box {
  width: 20rem;
  padding: 2rem;
}

.login-box h1 {
  margin-bottom: 3rem;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4050ff;
}
.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.btn {
  width: 100%;
  background: none;
  border: 2px solid #674cff;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0px;
}

/* admin options  */
.course-option {
  display: flex;
  width: 15rem;
  justify-content: flex-end;
}

.course-option i {
  margin: 5px;
}

.resource-option {
  display: flex;
  width: 92vw;
  justify-content: flex-end;
}

.resource-option i {
  margin: 10px;
}

/* search */

.search {
  display: flex;
  width: 92vw;
  margin: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.search input{
  height: 2.3rem;
  width: 92vw;
  border-radius: 5px;
  background-color: transparent;
  color: white;
}